# Main Circuit
KERNEL=="ttyACM*", ATTRS{interface}=="MechaShip Motherboard CDC", ATTRS{bInterfaceNumber}=="00", MODE="0666", GROUP="dialout", SYMLINK+="ttyUROS"
KERNEL=="ttyACM*", ATTRS{interface}=="MechaShip Motherboard CDC", ATTRS{bInterfaceNumber}=="02", MODE="0666", GROUP="dialout", SYMLINK+="ttyMCU"

# GNSS (GPS)
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", MODE="0666", GROUP="dialout", SYMLINK+="ttyGPS"

# LiDAR
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{bcdDevice}=="0300", MODE="0666", GROUP="dialout", SUBSYSTEM=="tty",SYMLINK+="ttyLiDAR"

# IMU
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{bcdDevice}=="0100", MODE="0666", GROUP="dialout", SUBSYSTEM=="tty",SYMLINK+="ttyIMU"

# Camera
KERNEL=="video*", ATTR{index}=="0", MODE="0666", SYMLINK+="videoRGBCAMERA0"
KERNEL=="video*", ATTR{index}=="1", MODE="0666", SYMLINK+="videoRGBCAMERA1"
